@model Store.Models.Avtor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Avtor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prezime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pol)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nacionalnost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nacionalnost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatumRagjanje)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatumRagjanje)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Knigi)
        </dt>
        <dd class="col-sm-9">
            @if (Model.Knigi != null && Model.Knigi.Any())
           {
               foreach (var avtorBook in Model.Knigi)
               {
                   if (avtorBook != null && avtorBook.Kniga != null)
                   {
            <a asp-controller="Knigas" asp-action="Details" asp-route-id="@avtorBook.KnigaId">@avtorBook.Kniga.Naslov</a>
            <br />
                   }
               }
           }
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
