@model Store.ViewModels.KnigaZanrViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Knigas" asp-action="Index" method="get">
    <p>
        <select asp-for="KnigaZanr" asp-items="Model.Zanrovi">
            <option value="">All</option>
        </select>
        Naslov: <input type="text" asp-for="SearchStringN" />
        <input type="submit" value="Filter" />
        Godina: <input type="text" asp-for="SearchStringG" />
        <input type="submit" value="Filter" />
        Izdavacka kukja: <input type="text" asp-for="SearchStringI" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table cl
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Knigi[0].Naslov)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Knigi[0].Godina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Knigi[0].BrStrani)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Knigi[0].Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Knigi[0].Zanr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Knigi[0].Tirazh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Knigi[0].Izdavac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Knigi[0].SlikaUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Knigi[0].Avtori)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Knigi) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naslov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Godina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrStrani)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zanr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tirazh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Izdavac)
            </td>
    <td>
                <img src="@Url.Content("~/images/" + item.SlikaUrl)" class="card-img-top" alt="@item.Naslov" style="height: 300px; object-fit: cover;">
            </td>
                <td>
                    @foreach (var avtor in item.Avtori)
                    {
                        <a asp-controller="Avtors" asp-action="Details" asp-route-id="@avtor.AvtorId"> @avtor.Avtor.FullName </a> <br />
                    }
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
